
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* body{
    font-family: 'Poppins', sans-serif;
    background-color: #cfc9c9;
}
 */


 body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8f9fa; /* Light gray background */
    color: #333; /* Dark gray text */
}


h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #132c47; /* Blue heading color */
    margin-bottom: 30px;
}

p {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 20px;
}

ul {
    margin-bottom: 20px;
}

li {
    font-size: 1.2rem;
    line-height: 1.6;
}

.footer {
    background-color: #343a40; /* Dark background color */
    color: #fff; /* Light text color */
    padding: 10px 0; /* Padding for top and bottom */
    text-align: center; /* Center-align text */
}

.footer a {
    color: #fff; /* Light text color for links */
    text-decoration: none; /* Remove underline from links */
}